.h1{
  font-size: larger;
  font-weight: bold;
}
.h2{
  font-size: large;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.button{
  background-color: aqua;
  border-radius: 40%;
}